.aboutUs {
  min-height: 100svh;
  //   background-color: #333;
  margin-top: 80px;

  .aboutUsContainer {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    // background-color: red;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .aboutUsContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // background-color: yellow;
      width: 100%;
      padding: 0 15px;

      .aboutUsTitle {
        font-size: 2rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 20px;
      }

      .aboutUsDescription {
        font-size: 1.6rem;
        // line-height: 20px;
        color: #333;
        margin-bottom: 20px;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
      }
    }

    .aboutUsProfile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      width: 100%;
      padding: 0 15px;
      padding-top: 50px;
      padding-bottom: 50px;
      h1 {
        font-size: 2rem;
        font-weight: 700;
        color: #4a5aa3;
        margin-bottom: 20px;
      }

      .aboutUsProfileWrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .aboutUsProfileItem {
          flex: 1 1 calc(33.333% - 30px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 15px;
          background-color: #fff;
          padding: 20px;
          border-radius: 10px;

          .aboutUsProfileImage {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .aboutUsProfileContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .aboutUsProfileName {
              font-size: 1.6rem;
              font-weight: 700;
              color: #333;
              margin-bottom: 10px;
            }

            .aboutUsProfilePosition {
              font-size: 1.4rem;
              color: #333;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
