.profileUpdatePage {
  height: 100%;
  display: flex;
  width: 100%;
  // background-color: rgba(255, 0, 0, 0.294);
  min-height: 100svh;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 80px;
  flex-direction: row;

  .error {
    color: red;
  }

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #fff;
      width: 100%;
      margin-right: 10px;
      border-radius: 10px;

      .updateProfileTitle {
        width: 100%;
        background-color: whitesmoke;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
        color: teal;
        border-radius: 10px;
      }

      .itemWrapper {
        display: flex;
        flex-wrap: wrap;
        .item {
          flex: 1 1 calc(50% - 20px);
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;

          label {
            font-size: 20px;
            font-weight: bold;
            color: teal;
          }

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
            font-size: 20px;
            background-color: #f0f0f0;
          }
        }
      }
      button {
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 20px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #f0f0f0;
          color: teal;
          border: 1px solid teal;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: -80px;

    .avatar {
      width: 50%;
      object-fit: cover;
    }
  }
}
