@import "../../layouts/main/responsive.scss";

.why {
  // background: #4b5ba4;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;

  .customContainer {
    padding-right: 35px;
    padding-left: 35px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    margin: 0 auto;
    // background-color: #a4aec0;

    // margin: 0 auto;
    // background-color: red;

    @include xl {
      // background-color: rgb(40, 18, 183);
      max-width: 1166px;
    }
    @include lg {
      // background-color: rgb(104, 25, 161);
      max-width: 966px;
    }
    @include md {
      // background-color: green;
      max-width: 766px;
    }
    @include sm {
      // background-color: red;
      max-width: 566px;
    }
    @include xs {
      // background-color: rgb(135, 183, 31);
      max-width: 366px;
    }

    .whyWrapper {
      // background-color: yellow;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
      align-items: center;
      justify-content: center;

      @include md {
        flex-direction: column;
      }

      .whyContent {
        max-width: 40%;
        // background-color: green;
        box-sizing: border-box;
        color: white;

        @include md {
          max-width: 100%;
          width: 100%;
          margin-bottom: 20px;
        }

        .title {
          font-size: 37px;
          line-height: 1.2em;
          font-weight: 600;
          margin-bottom: 25px;
          color: #333;
          background-color: #fff;
          padding: 10px;
          border-radius: 10px;
        }

        .text {
          letter-spacing: 0.3px;
          font-weight: 600;
          font-size: 17px;
          line-height: 1.5rem;
          color: #333;
          padding: 10px;
          background-color: #fff;
          border-radius: 10px;
        }

        .buttonMore {
          text-decoration: none;
          color: #4a5aa3;
          font-weight: 600;
          font-size: 20px;
          padding: 5px 0;
          min-height: auto;
          margin-top: 20px;
          display: flex;
          gap: 30px;
          align-items: center;
          justify-content: flex-start;
          background-color: #fff;
          padding: 10px;
          border-radius: 10px;
          width: max-content;

          &:hover {
            img {
              animation: myAnim 1s ease infinite;
              @keyframes myAnim {
                to {
                  transform: translateX(15px);
                }
              }
            }
          }

          img {
            width: 1rem;
          }
        }
      }

      .whyImages {
        // background-color: purple;
        height: auto;
        width: 50%;

        @include md {
          width: 100%;
          margin-bottom: 20px;
        }

        @include sm {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
