.heroSlider {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 3;

  .customContainer {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .slick-slider {
      .slick-dots {
        bottom: -50px;
      }
    }
  }
}
