.heroSlider {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 3;

  .customContainer {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .slick-slider {
      .slick-dots {
        bottom: -50px;

        button::before {
          font-size: 0.5rem;
        }

        .slick-active {
          button::before {
            color: #1c5c90;
            font-size: 0.65rem;
          }
        }
      }
    }
  }
}
