@import "../../layouts/main/responsive.scss";

.home {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100svh;
  flex-direction: column;
  // background-color: white;
  // gap: 30px;
  // max-width: 1366px;
  // margin: 0 auto;
  // // background-color: #a4aec0;

  // // margin: 0 auto;
  // // background-color: red;

  // @include xl {
  //   // background-color: rgb(40, 18, 183);
  //   max-width: 1166px;
  // }
  // @include lg {
  //   // background-color: rgb(104, 25, 161);
  //   max-width: 966px;
  // }
  // @include md {
  //   // background-color: green;
  //   max-width: 766px;
  // }
  // @include sm {
  //   // background-color: red;
  //   max-width: 566px;
  // }
  // @include xs {
  //   // background-color: rgb(135, 183, 31);
  //   max-width: 366px;
  // }
}
