@import "../../main.scss";
@import "../../layouts/main/responsive.scss";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: transparent;
  background: #f5f8fc;

  border-bottom: 1px solid white;
  z-index: 9999;
  color: black;
  position: absolute;
  top: 0;
  transition: 0.5s all ease-in;
  width: 100%;
  height: 80px;

  .container {
    width: 90%;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;

    .left {
      .logo {
        font-weight: 300;
        font-size: 2rem;

        @include sm {
          font-size: 1rem;
        }
        .andSign {
          color: #17d3a5;
        }
      }
    }

    .right {
      display: flex;
      gap: 24px;
      align-items: center;

      .linkPart {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .RegButton {
          padding: 10px 15px;
          background-color: transparent;
          border: white 1px solid;
          border-radius: 8px;
          color: white;
          padding: 10px 20px;
          cursor: pointer;

          &:hover {
            background-color: white;
            border: black 1px solid;
            color: black;

            transition: all 0.5s ease-in-out;
          }
        }

        .favoriteIcon {
          color: white;
          background-color: transparent;
        }

        .findmate {
          color: rgb(28, 92, 144);
          text-decoration: none;
          transition: all 0.5s ease-in;

          button {
            padding: 10px 15px;
            background-color: rgb(28, 92, 144);
            border: rgb(28, 92, 144) 1px solid;
            border-radius: 8px;
            color: white;
            padding: 10px 20px;
            cursor: pointer;

            &:hover {
              background-color: rgba(28, 92, 144, 0.621);
              color: white;

              transition: all 0.6s ease-in-out;
            }
          }

          &:hover {
            color: rgb(80, 130, 170);
          }
        }

        @include sm {
          display: none;
        }

        @include md {
          font-size: 14px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          position: relative;

          img {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            object-fit: cover;
          }

          .options {
            position: absolute;
            top: 60px;
            right: 0;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            z-index: 999;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 200px;
            font-weight: 300;
            color: rgb(211, 11, 11);

            a {
              color: black;
            }
          }
        }
      }

      .menuIcon {
        display: none;
        z-index: 999;

        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }

        @include sm {
          display: inline;
        }
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: rgb(0, 0, 0);
      color: white;
      height: 100vh;
      width: 100%;
      display: none;
      justify-content: center;
      transition: all 1s ease;
      font-size: 1.5rem;
      flex-direction: column;
      align-items: center;

      @include sm {
        a {
          display: initial;
        }
        transition: 1s all ease-in-out;
        display: flex;
        right: 0;
      }
    }
  }
}
