.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;

  h1 {
    font-weight: 300;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: row;
    // gap: 10px;
    align-items: center;
    justify-content: space-between;
    // gap: 50px;

    label {
      font-size: 1rem;
      color: #444;
    }

    input,
    select {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  .top {
    padding: 5px 10px;

    input {
      width: 50%;
      height: 100%;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    padding: 5px 10px;

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fece51;
      margin-top: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
