// @import "../../responsive.scss";

.cardListing {
  display: flex;
  gap: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);

  // &:first-child {
  //   margin-top: 15px;
  // }

  .imageContainer {
    flex: 2;
    height: 200px;
    transition: all 0.3s ease-in;

    &:hover {
      transition: all 0.3 ease-in;
      scale: 1.01;
    }
    // @include md {
    //   display: none;
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .textContainer {
    padding: 10px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    img {
      width: 16px;
      height: 16px;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      a {
        text-decoration: none;
        color: #444;
      }

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    .userInfoPart {
      background-color: red;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 7px;
      color: #888;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 2px;
      p {
        font-size: 20px;
        font-weight: 300;
        padding: 5px;
        border-radius: 5px;
        background-color: #4a5aa3;
        width: max-content;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .featuresList {
        display: flex;
        gap: 20px;
        font-size: 14px;

        .featureList {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
          img {
            width: 25px;
            height: 25px;
          }
        }
      }

      .icons {
        display: flex;
        gap: 20px;

        .icon {
          border: 1px solid #999;
          padding: 2px 5px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 30px;
            height: 30px;

            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
}
