@import "./responsive.scss";

.outlet {
  width: 100%;
  min-height: 100svh; // en azından ekranın yüksekliği kadar olacak hiç kod yazılmasa bile ansızın aklıma geldi yanlış olabilir
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #a4aec0;
  flex: 1;
  margin: 0 auto;

  @include xl {
    // background-color: rgb(40, 18, 183);
    // max-width: 1166px;
  }
  @include lg {
    // background-color: rgb(104, 25, 161);
    // max-width: 966px;
  }
  @include md {
    // background-color: green;
    // max-width: 766px;
  }
  @include sm {
    // background-color: red;
    // max-width: 566px;
  }
  @include xs {
    // background-color: rgb(135, 183, 31);
    // max-width: 366px;
  }
}
