* {
    .link {
      text-decoration: none;
      color: inherit;
    }
  }

  .mainLayout{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // position: relative;

  
    

      .outlet{
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // overflow: hidden;
        margin: auto;
      }

    
  
  }