.createHotel {
  height: 100%;
  display: flex;
  width: 100%;
  min-height: 100svh;
  margin-top: 80px;
  // background-color: blue;

  .createHotelContainer {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 30px;
    // background-color: red;
    .createHotelWrapper {
      margin: 30px 50px 100px 0px;
      width: 100%;
      height: 100%;

      .createHotelForm {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        form {
          background-color: white;
          padding: 0px 60px;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 15px;
          h1 {
            color: rgb(77, 1, 77);
            text-align: center;
            padding: 20px;
          }

          button {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: none;
            background-color: rebeccapurple;
            color: white;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            margin-top: 15px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
