.Explore {
  min-height: 100svh;

  .listPage {
    display: flex;
    height: 100svh;
    max-width: 1366px;
    margin: 0 auto;

    .listContainer {
      flex: 5;
      height: 100%;

      .wrapper {
        height: 100%;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow-y: scroll;
        padding-bottom: 50px;
      }
    }
    .mapContainer {
      flex: 2;
      max-height: 50svh;
      // height: 80%;

      top: 0;
      // background-color: #fcf5f3;

      // @include md {
      //   display: none;
      // }

      .mapAltiDeneme {
        background-color: rgba(255, 0, 0, 0.194);
        width: 100%;
        height: 100%;
      }
    }
  }
}
