$primary-color: #0f4c75;

html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  background-color: #a4aec0;
}

.link {
  text-decoration: none;
  color: inherit;
}
