$primary-color: #0f4c75;
* {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  background-color: #a4aec0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.iconMain {
  width: 150%;
  height: 150%;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  object-fit: contain;
}

// Trivage Main Color
// background-color: #c4e3f4;
