$primary-color: #0f4c75;
* {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  // background-color: #a4aec0;
  // background-color: #f3f6fc;
  background-color: rgb(222, 225, 227);
}

.link {
  text-decoration: none;
  color: inherit;
}

.upperCase {
  text-transform: capitalize;
}

.iconMain {
  width: 150%;
  height: 150%;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  object-fit: contain;
}

p {
  color: #6f7693;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5em;
}

// Trivage Main Color
// background-color: #c4e3f4;
