.ApartSection {
  padding: 60px 0;
  background-color: blueviolet;
  margin-top: 50px;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 50px;

  .apartContainer {
    padding-right: 35px;
    padding-left: 35px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    .apartWrapper {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 12;
      background-color: blue;

      .apartContent {
        display: block;
        width: 35%;
        background-color: green;
      }
      .apartCard {
        background-color: yellow;
        width: 65%;
        text-align: right;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        border-radius: 10px;
      }
    }
  }
}
