@import "../../layouts/main/responsive.scss";

.ApartSection {
  padding: 60px 0;
  margin-top: 50px;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 50px;

  .color-blue {
    color: #4b5ba4;
  }

  .d-block {
    display: block !important;
  }

  .apartContainer {
    padding-right: 35px;
    padding-left: 35px;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    // background-color: #a4aec0;

    // margin: 0 auto;
    // background-color: red;

    @include xl {
      // background-color: rgb(40, 18, 183);
      max-width: 1166px;
    }
    @include lg {
      // background-color: rgb(104, 25, 161);
      max-width: 966px;
    }
    @include md {
      // background-color: green;
      max-width: 766px;
    }
    @include sm {
      // background-color: red;
      max-width: 566px;
    }
    @include xs {
      // background-color: rgb(135, 183, 31);
      max-width: 366px;
    }

    @include md {
      padding-right: 15px;
      padding-left: 15px;
    }

    @include sm {
      padding-right: 0;
      padding-left: 0;
    }

    .apartWrapper {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 12;

      @include md {
        flex-direction: column;
      }

      .apartContent {
        display: block;
        width: 35%;

        @include md {
          width: 100%;
          margin-bottom: 2rem;
        }
        .apartContentWrapper {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          img {
            height: 65px;
            margin-bottom: 15px;
            max-width: 120px;
          }
          .apartContentTitle {
            color: #333 !important;
            font-size: 25px;
            line-height: 1.3em;
            margin-bottom: 20px;
            font-weight: 600;
          }
        }
        .contentText {
          font-weight: 300;
          margin-bottom: 25px;
          letter-spacing: 0.3px;
          color: #333;
          background-color: #fff;
          padding: 10px;
          border-radius: 10px;
        }
        .contentInfo {
          position: relative;
          padding-top: 30px;
          margin-top: 35px;
          // background-color: #fff;
          // padding: 0 10px;
          // border-radius: 10px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 5px;
            background: #4263c9;
            opacity: 0.5;
          }

          .infoTitle {
            color: #333;
            font-size: 21px;
            line-height: 1.5em;
            margin-bottom: 15px;

            strong {
              display: block;
              font-size: 1.5em;
              font-weight: 600;
              margin-bottom: 5px;
            }
          }
        }
        .apartNav {
          width: 100%;
          display: flex;
          align-items: stretch;
          justify-content: flex-start;
          font-weight: 600;
          font-size: 18px;
          padding: 5px 0;
          min-height: auto;
          margin-top: 20px;
          color: #4b5ba4;
          a {
            .navTitle {
              cursor: pointer;
              display: flex;
              align-items: center;
              text-decoration: none;

              // @include md {
              //   margin-bottom: 30px;
              // }

              &:hover {
                .navIcon {
                  animation: myAnim 1s ease infinite;
                  @keyframes myAnim {
                    to {
                      transform: translateX(15px);
                    }
                  }
                }
              }

              .navIcon {
                font-size: 18px;
                margin-top: 1px;
                transition: transform 0.3s;
                display: inline-flex;
                margin-left: 20px;
                height: 1rem;
              }
            }
          }
        }
      }
      .apartCard {
        width: 65%;
        justify-content: flex-end;
        padding-top: 1rem;
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0 1rem;

        @include md {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
