.footer {
    width: 100%;
    max-width: 1200px;
    font-size: 12px;
    // background-color: red;
    margin: 0 auto;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    // color: white;
}

.fList {
    list-style: none;
    padding: 0;
    // color: white;
}

.fListItem {
    margin-bottom: 10px;
    color: white;
    cursor: pointer;

}