.appSearch {
  //   background-color: red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  .searchTwo {
    padding: 10px;
    font-size: 20px;
  }
  .listTwo {
    padding: 0;
    list-style: none;
    text-align: center;
    .listItemTwo {
      margin-bottom: 20px;
      font-size: 25px;
      color: #444;
      font-weight: 300;
    }
  }

  table {
    width: 100%;
    margin: 50px 0px;
    border-spacing: 15px;
    color: #444;
    tr {
      margin-bottom: 20px;

      th {
        width: 250px;
        text-align: left;
        font-size: 20px;
      }
      td {
        width: 250px;
        font-size: 20px;
      }
    }
  }
}
