@import "../../layouts/main/responsive.scss";

.containerMobilBar {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 10px;
  margin: 40px auto;
  align-items: center;
  margin-bottom: 200px;

  //   justify-content: space-between;

  @include sm {
    flex-direction: column;
  }

  .mobilDistrict {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 5px;
    position: relative;
    flex: 3;
    border-right: 1px solid #dee1e9;

    @include sm {
      border-right: none;
      border-bottom: 1px solid #dee1e9;
    }

    .inputWrapper {
      width: 100%;
      height: 100%;
      position: relative;
      transition: all 0.3s ease-in;
      border-radius: 10px;

      input {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        color: rgb(130, 127, 127);
        font-weight: 900;

        &:focus {
          outline: none;
        }
      }
    }

    .listDistricts {
      position: absolute;
      top: 100px;
      left: 0;
      max-height: 200px;
      overflow-y: scroll;
      width: 100%;
      border-radius: 10px;
      background-color: white;
      transition: all 0.3s ease-in;
      z-index: 1000;
      text-transform: capitalize;

      .districtItem {
        transition: all 0.3s ease-in;
        width: 100%;
        height: 100%;
        display: block;
        font-weight: 700;
        padding: 20px;
        cursor: pointer;
        color: rgb(130, 127, 127);

        &:hover {
          background-color: #f4f4f4a9;
        }
      }
    }
  }
  .mobilType {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 5px;
    flex: 3;
    margin-left: 5px;
    position: relative;

    .inputWrapper {
      // background-color: #a6a0a0;
      width: 100%;
      height: 100%;
      position: relative;
      transition: all 0.3s ease-in;
      border-radius: 10px;

      input {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        color: rgb(130, 127, 127);
        font-weight: 900;

        &:focus {
          outline: none;
        }
      }
    }

    .listDistricts {
      position: absolute;
      top: 100px;
      left: 0;
      max-height: 200px;
      overflow-y: scroll;
      width: 100%;
      border-radius: 10px;
      background-color: white;
      transition: all 0.3s ease-in;
      z-index: 999;
      text-transform: capitalize;

      @include sm {
        top: 90px;
      }

      .districtItem {
        transition: all 0.3s ease-in;
        width: 100%;
        height: 100%;
        display: block;
        padding: 20px;
        cursor: pointer;
        color: rgb(130, 127, 127);
        font-weight: 700;

        &:hover {
          background-color: #f4f4f4ba;
        }
      }
    }
  }
  .mobilSearchButton {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 2;
    padding: 20px 5px;
    border-radius: 10px;
    background-color: rgb(28, 92, 144);
    transition: all 0.5s ease-in;

    &:hover {
      background-color: rgb(25, 73, 114);
    }

    .rightBar {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;
      color: #fff;
      transition: all 0.5s ease-in;

      .iconContainer {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        opacity: 0.8;
        cursor: pointer;
        color: #fff;

        img {
          height: 1em;
          color: #fff;
        }
      }
      p {
        color: white;
        font-weight: 900;
        text-decoration: none;
      }
    }
  }
}
