.test {
  max-width: 1366px;
  width: 100%;
  min-height: 100svh;
  height: auto;
  background-color: rgb(221, 202, 202);
  margin: 0 auto;

  .testCardSection {
    width: auto;
    height: auto;
    background-color: #5081c0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
